@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #d0d5e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container {
    background: #fff;
    width: 20rem;
    height: 27rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #b0b0b0;
}
.container h4 {
    color: #0ba5e1;
}
ul {
    padding: 0rem 0.5rem;
}
ul li {
    list-style: none;
    margin: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li img {
    height: 4rem;
}
ul a {
    text-decoration: none;
}
.img-text-music {
    display: flex;
    align-items: center;
    justify-content: start;
}
.img-text-music h4 {
    margin-left: 0.35rem;
}
.text-progress {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul li .text {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
ul li div h5 {
    font-size: 0.75rem;
    font-weight: 400;
}
.progress-bar {
    background: #abacad;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.1rem;
    transform: translateY(0.25rem);
}
.progress-bar-pdf {
    background: #0ba5e1;
    width: 78%;
    height: 0.25rem;
    border-radius: 0.1rem;
}
.progress-bar-xls {
    background: #0ba5e1;
    width: 25%;
    height: 0.25rem;
    border-radius: 0.1rem;
}
i {
    font-size: 1.5rem;
}
.music-li i {
    color: #0be116;
}
.pdf-li i {
    color: #e10b0b;    
}
.excel-li i {
    color: #e10b0b;
}
label {
    border: 0.15rem #b0b0b0 dashed;
    border-radius: 0.5rem;
    display: inline-block;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    color: #abacad;
}